@import '../common/variables.css';

.primary{
  color: white;
  background-color: var(--primary-color);
}

.primary:hover{
  background-color: var(--primary-hover-color);
}

.primaryOutline{
  color: var(--primary-color);
  background-color: white;
}

.primaryOutline:hover{
  color: white;
  background-color: var(--primary-color);
}