@import 'variables.css';

* {
  margin: 0;
  padding: 0;

  text-align: center;
  color: black;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

li:hover{
  text-decoration: underline;
}

button{
  width: var(--btn-width);
  height: var(--btn-height);
  box-sizing: border-box;
  font-size: var(--btn-fontSize);
  cursor: pointer;
}

input, textarea {
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  width: 100%;
}