:root {
  --header-height: 40px;
  --nav-height: 40px;

  --header-background-color: rgba(200, 200, 200, 0.5);
  --nav-background-color: rgba(200, 200, 200, 0.5);
  --dropdown-content-background-color: rgba(200, 200, 200, 0.5);

  --btn-width: 100px;
  --btn-height: 50px;
  --btn-fontSize: 1.1rem;

  --primary-color: #0d6efd;
  --primary-hover-color: #0062cc;
}