:root {
    --fixed-button-height: 40px;

    --main-width: 1000px;
    --nav-contents-width: 300px;
    --nav-contents-width-minus: -300px;

    --signIn-frame-height: 500px;
    --signUp-frame-width: 300px;
    --signUp-frame-height: 1200px;

    --write-frame-width: 1000px;
    --write-frame-height: 800px;

    --board-frame-width: 100%;
    --board-frame-height: 1500px;
    --board-header-height: 200px;
    --board-footer-height: 200px;

    --background-color: white;
    --border-color: rgba(200, 200, 200, 0.5);
    --shadow-color: rgba(200, 200, 200, 0.5);

    --btn-width: 100px;
    --btn-height: 50px;
    --btn-fontSize: 1.1rem;

    --primary-color: #0d6efd;
    --primary-hover-color: #0062cc;

    --text-ref-color: #CCCCCC;

    --thead-color: rgba(200, 200, 200, 0.5);
}