@import '../common/variables.css';

#boardFrame {
    width: var(--board-frame-width);
    height: var(--board-frame-height);

    background-color: white;
}

#boardHeader {
    height: var(--board-header-height);
    background-color: yellow;
}

#boardHeader-top {
    height: 70%;
    background-color: blueviolet;
}

#boardHeader-bottom {
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: cadetblue;
}

#boardSection {
    display: flex;
    justify-content: center;

    background-color: white;
}

#boardSection > table {
    width: 100%;
    border-collapse: collapse;
}

#boardSection > table *{
    padding: 10px;
}

#boardSection > table > thead {
    background-color: var(--thead-color);
    height: 50px;
    font-size: 1.1rem;
}

#boardSection > table > tbody{
    font-size: 1.1rem;
}

.title {
    text-align: left;
}

.title:hover, .email:hover {
    text-decoration: underline;
    cursor: pointer;
}

#boardFooter {
    height: var(--board-footer-height);
    background-color: blue;
}

#boardFooter-top {
    height: 50%;
    background-color: azure;

    display: flex;
    align-items: center;
    justify-content: center;
}

#boardFooter-bottom {
    height: 50%;
    background-color: chocolate;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 40%;
    gap: 10px;
    font-size: 1.2rem;
}

.pagination:hover {
    cursor: pointer;
}

.pageActive {
    text-decoration: underline;
}