@import '../common/variables.css';

#updateFrame {
    width: var(--boardPostUpdate-frame-width);
    height: var(--boardPostUpdate-frame-height);

    background-color: dodgerblue;
}

#update-space {
    height: 20%;

    background-color: teal;
}

#update-header {
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;

    background-color: aliceblue;
}

#update-title {
    height: 5%;

    background-color: violet;
}

#update-custom {
    height: 10%;

    background-color: tomato;
}

#update-content {
    height: 45%;

    background-color: yellowgreen;
}