@import '../common/variables.css';

#readFrame {
    width: var(--boardPostRead-frame-width);
    height: var(--boardPostRead-frame-height);
}

#read-header {
    height: var(--board-post-header-height);

    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    gap: 10px;
}

#postDetailTable {
    width: 100%;
    padding: 10px;
}

#postDetailTable * {
    text-align: left;
    margin: 5px 0;
}

#postDetail-title {
    font-size: 2rem;
    margin: 10px 0;
}

#postDetail-dataAndViewCount {
    display: flex;
    gap: 30px;
}

#postDetail-content {
    margin: 30px 0;
}

#read-footer {
    height: 50px;

    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    gap: 10px;
}

#comment {
    padding: 10px;
}

.comment-container {
    margin-bottom: 20px;
}

#comment-header {
    height: var(--comment-header-height);
    display: flex;
    justify-content: space-between;
}

#comment-userContainer {
    display: flex;
    gap: 20px;
}

#comment-date {
    color: red;
    /* color: var(--text-ref-color); */
}

#comment-btns {
    display: flex;
    gap: 20px;
}

#comment-btns p:hover {
    cursor: pointer;
    text-decoration: underline;
}

#comment-content {
    max-height: var(--comment-content-max-height);
    text-align: left;
}

#comment-reply > textarea {
    height: var(--comment-write-height);
    margin: 10px 0;
}

#comment-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-write {
    width: 100%;
}

#comment-write > textarea {
    height: var(--comment-write-height);
    margin: 10px 0;
}