@import '../common/variables.css';

#readFrame {
    width: var(--read-frame-width);
    /* height: var(--read-frame-height); */

    background-color: dodgerblue;
}

#read-header {
    height: 50px;

    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    gap: 10px;

    background-color: aliceblue;
}

#read-title {
    height: 50px;

    background-color: violet;
}

#read-info {
    height: 50px;

    background-color: chartreuse;
}

#read-content {

    background-color: yellowgreen;
}