@import '../common/variables.css';

#writeFrame {
    width: var(--write-frame-width);
    height: var(--write-frame-height);

    background-color: dodgerblue;
}

#write-space {
    height: 20%;

    background-color: teal;
}

#write-header {
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;

    background-color: aliceblue;
}

#write-title {
    height: 5%;

    background-color: violet;
}

#write-custom {
    height: 10%;

    background-color: tomato;
}

#write-content {
    height: 45%;

    background-color: yellowgreen;
}