@import '../common/variables.css';

#container{
  width: 100vw;
  height: 100vh;

  /* 컨테이너 아래 nav-contents와 main 두 개가 있는데 이들 가운데 정렬 */
  display: flex;
  justify-content: center;

  position: relative;

  background-color: antiquewhite;
}

header{
  position: absolute;
  top: 5%;
  right: 10%;

  z-index: 999;
}

#nav-contents-box{
  width: var(--nav-contents-width);
  height: 100vh;
  background-color: var(--nav-border-color);

  position: absolute; 
  left: var(--nav-contents-width-minus);
  transition: left 0.3s ease-out; /* left 속성이 변경될 때 작동하는 코드 */
}

#nav-contents-box > #nav-greetings{
  text-align: left;
  margin: 50px 10px;
  font-size: 3rem;
  font-weight: bold;
}

#nav-contents > li{
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
}

main{
  position: relative;
  width: var(--main-width);
  transition: left 0.3s ease-out;
  
  background-color: aqua;
}

nav{
  position: absolute;
  top: 5%;
  left: -10%;
}

section{
  width: 100%;
  background-color: blue;
}