@import 'variables.css';

header {
  height: var(--header-height);
}

nav {
  background-color: grey;
  height: var(--nav-height);
}

section {
  background-color: red;
  height: 500px;
}

footer {
  background-color: var(--footer-color);
  height: var(--footer-height);
}